In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("train.csv")
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [2]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.describe(include=object)

                         Name   Sex    Ticket        Cabin Embarked
count                     891   891       891          204      889
unique                    891     2       681          147        3
top     Rood, Mr. Hugh Roscoe  male  CA. 2343  C23 C25 C27        S
freq                        1   577         7            4      644

In [4]:
tm=df.groupby("Survived").mean()
tm
v1=tm.iloc[0,:]
v2=tm.iloc[1,:]
abs((v2-v1)/(v1+v2))

PassengerId    0.002971
Pclass         0.129755
Age            0.038706
SibSp          0.077914
Parch          0.170176
Fare           0.372661
dtype: float64

In [5]:
def get_title(name):
    if '.' in name:
        return name.split(',')[1].split('.')[0].strip()
    else:
        return 'unknown'
def title_map(title):
    if title in ['Mr']:
        return 1
    elif title in ['Master']:
        return 3
    elif title in ['Ms', 'Mlle', 'Miss']:
        return 4
    elif title in ['Mme', 'Mrs']:
        return 5
    else:
        return 2
df["title"]=df["Name"].apply(get_title).apply(title_map)
df.drop(["PassengerId", "Name","Ticket"], axis="columns", inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Cabin     204 non-null    object
 8   Embarked  889 non-null    object
 9   title     891 non-null    int64
dtypes: float64(2), int64(5), object(3)
memory usage: 69.7+ KB

In [6]:
df["Sex"].replace(["male", "female"], [0,1], inplace=True)
df

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare Cabin Embarked  title
0           0       3    0  22.0      1      0   7.2500   NaN        S      1
1           1       1    1  38.0      1      0  71.2833   C85        C      5
2           1       3    1  26.0      0      0   7.9250   NaN        S      4
3           1       1    1  35.0      1      0  53.1000  C123        S      5
4           0       3    0  35.0      0      0   8.0500   NaN        S      1
..        ...     ...  ...   ...    ...    ...      ...   ...      ...    ...
886         0       2    0  27.0      0      0  13.0000   NaN        S      2
887         1       1    1  19.0      0      0  30.0000   B42        S      4
888         0       3    1   NaN      1      2  23.4500   NaN        S      4
889         1       1    0  26.0      0      0  30.0000  C148        C      1
890         0       3    0  32.0      0      0   7.7500   NaN        Q      1

[891 rows x 10 columns]

In [7]:
df["Cabin"].isna()

0       True
1      False
2       True
3      False
4       True
       ...
886     True
887    False
888     True
889    False
890     True
Name: Cabin, Length: 891, dtype: bool

In [8]:
df["Cabin"]=df["Cabin"].isna()
df=pd.get_dummies(df)
df.Cabin

0       True
1      False
2       True
3      False
4       True
       ...
886     True
887    False
888     True
889    False
890     True
Name: Cabin, Length: 891, dtype: bool

In [9]:
df=pd.get_dummies(df)
df["Age"][df["Age"].isna()]=df["Age"].mean()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    891 non-null    int64
 1   Pclass      891 non-null    int64
 2   Sex         891 non-null    int64
 3   Age         891 non-null    float64
 4   SibSp       891 non-null    int64
 5   Parch       891 non-null    int64
 6   Fare        891 non-null    float64
 7   Cabin       891 non-null    bool
 8   title       891 non-null    int64
 9   Embarked_C  891 non-null    uint8
 10  Embarked_Q  891 non-null    uint8
 11  Embarked_S  891 non-null    uint8
dtypes: bool(1), float64(2), int64(6), uint8(3)
memory usage: 59.3 KB

C:\Users\pc\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
tm=df.groupby("Survived").mean()
tm
v1=tm.iloc[0,:]
v2=tm.iloc[1,:]
abs((v2-v1)/(v1+v2))

Pclass        0.129755
Sex           0.643977
Age           0.031634
SibSp         0.077914
Parch         0.170176
Fare          0.372661
Cabin         0.185190
title         0.374197
Embarked_C    0.331221
Embarked_Q    0.012168
Embarked_S    0.101449
dtype: float64

In [11]:
mf=df["Fare"].mean()
df["Fare"]=df["Fare"]>mf
y=df["Survived"]
x= df.drop("Survived", axis="columns",)

In [12]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split
# model = RandomForestClassifier()
model=XGBClassifier()
# model=LogisticRegression()


x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.2, random_state=8)
model.fit(x_train, y_train)
print(model.score(x_test, y_test))
from sklearn.metrics import confusion_matrix
yp=model.predict(x_test)
print("survived", sum(yp!=0))
print("not survived", sum(yp==0))
cm=confusion_matrix(y_test, yp)
cm

0.8379888268156425
survived 64
not survived 115

array([[97, 11],
       [18, 53]], dtype=int64)

In [13]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import GridSearchCV
model = XGBClassifier()
random_grid={'eta': [int(x) for x in np.linspace(start = 0, stop = 0.4, num = 10)]}
rf_random=GridSearchCV(model, random_grid, cv=5)
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.1, random_state=11)
rf_random.fit(x_train, y_train)
print(rf_random.best_score_)
rf_random.best_params_

0.8201940993788819

{'eta': 0}

In [14]:
model = XGBClassifier(eta=0)
random_grid={'maxdepth':range(1,10,1)}
rf_random=GridSearchCV(model, random_grid, cv=5)
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.1, random_state=11)
rf_random.fit(x_train, y_train)
print(rf_random.best_score_)
rf_random.best_params_

0.8201940993788819

{'maxdepth': 1}

In [15]:
model = XGBClassifier(eta=0, maxdepth=1)
random_grid={'min_child_weight':range(1,13,1)}
rf_random=GridSearchCV(model, random_grid, cv=5)
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.1, random_state=11)
rf_random.fit(x_train, y_train)
print(rf_random.best_score_)
rf_random.best_params_

0.8201940993788819

{'min_child_weight': 1}

In [16]:
model = XGBClassifier(eta=0, maxdepth=1, min_child_weight=1)
random_grid={'gamma':[i/10.0 for i in range(0,5)]}
rf_random=GridSearchCV(model, random_grid, cv=5)
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.1, random_state=11)
rf_random.fit(x_train, y_train)
print(rf_random.best_score_)
rf_random.best_params_

0.8251863354037268

{'gamma': 0.3}

In [17]:
model = XGBClassifier(eta=0, maxdepth=1, min_child_weight=1, gamma=0.3)
random_grid={'subsample':[i/100.0 for i in range(50,100,1)]}
rf_random=GridSearchCV(model, random_grid, cv=5)
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.1, random_state=11)
rf_random.fit(x_train, y_train)
print(rf_random.best_score_)
rf_random.best_params_

0.8251863354037268

{'subsample': 0.85}

In [18]:
model = XGBClassifier(eta=0, maxdepth=1, min_child_weight=1, gamma=0.3, subsample=0.85)
random_grid={'colsample_bytree':[i/10000.0 for i in range(7100,7200,1)]}
rf_random=GridSearchCV(model, random_grid, cv=5)
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.1, random_state=11)
rf_random.fit(x_train, y_train)
print(rf_random.best_score_)
rf_random.best_params_

0.8202018633540373

{'colsample_bytree': 0.71}

In [19]:
model = XGBClassifier(eta=0, maxdepth=1, min_child_weight=1, gamma=0.3, subsample=0.85, colsample_bytree=0.71)
random_grid={'reg_alpha':[0,0.001,0.005,0.01,0.05]}
rf_random=GridSearchCV(model, random_grid, cv=5)
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.1, random_state=11)
rf_random.fit(x_train, y_train)
print(rf_random.best_score_)
rf_random.best_params_

0.8264285714285714

{'reg_alpha': 0.01}

In [20]:
model

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.71, eta=0, gamma=0.3,
              learning_rate=0.1, max_delta_step=0, max_depth=3, maxdepth=1,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=0.85, verbosity=1)

In [21]:
model = XGBClassifier(max_depth=2, min_child_weight=3, gamma=0, subsample=0.86, reg_alpha=0)
model.fit(x,y)
print(model.score(x_test, y_test))
yp=model.predict(x_test)
print("survived", sum(yp!=0))
print("not survived", sum(yp==0))
cm=confusion_matrix(y_test, yp)
cm

0.9111111111111111
survived 27
not survived 63

array([[56,  1],
       [ 7, 26]], dtype=int64)

In [28]:
print(model.score(x_test, y_test))

0.9111111111111111